*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #141e30;
}

.appContainer {
  padding: 3.1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
